.main-container {
    width: 800px;
    margin: auto;
    text-align: left;
}

#avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    float: left;
    margin: 20px
}

.main-container h2 {
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}

div h3:first-of-type {
    text-align: left;
}
h5 {
    color: gray;
    display: inline-block;
    margin-bottom: 0px;
}
input {
    width: 790px;
}
h4 {
    display: inline;
}
h1 {
    margin-top: 0px;
}
button {
    border: none;
    display: flex;
    align-items: center;
    width: 155px;
    height: 25px;
}
img {
    width: 800px;
    height:300px
}
#divb {
    display: flex;
    align-items: center
}
#divavatar {
    background-color: gainsboro;
}

@media screen and (max-width: 800px) {
    p {
        font-size: 1rem;
    }
    .main-container {
        width: 400px;
        margin: auto;
        text-align: left;
    }
    img {
        width: 400px;
        height:150px
    }
    button {
        border: none;
        display: flex;
        align-items: center;
        width: 77px;
        height: 25px;
    }
    #divb {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    #avatar {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        margin: 20px;
        float: none;
    }
    #divavatar {
        background-color: gainsboro;
        text-align: center;
    }
}